@charset "UTF-8";

body {
    background-image: url('NetflixBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}


a {
    color: black !important;
}

#formPassword {
    margin: 90px auto;
    width: 400px;
    height: auto;
    border-radius: 21px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 90px auto;
    margin: 90px auto;
}

#formLogin {
    margin: 90px auto;
    width: 400px;
    height: auto;
    border-radius: 21px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 9%;
    height: auto;
}

.card {
    width: 100%;
    background: #E50914;
    padding: 20px;
    border-radius: 10px;
}

.titulo {
    color: white;
}

.espacio {
    margin: 20px;
}

.custom-button {
    background-color: transparent !important;
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: transparent;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    padding: 0;
}

.custom-button .ui-button-text {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.custom-button:hover .ui-button-text {
    transform: translateY(-0.33em);
}

.custom-button:active .ui-button-text {
    transform: translateY(0);
}

.ui-state-focus {
    outline: none !important;
    box-shadow: none !important;
}

body .custom-button.ui-state-focus,
html body .custom-button.ui-state-focus,
html body div .custom-button.ui-state-focus {
    outline: none !important;
    box-shadow: none !important;
}

.ui-button.ui-widget.ui-state-focus {
    outline: none !important;
    box-shadow: none !important;
}

.custom-button .ui-button-text {
    color: black;
}

.custom-button {
    background-color: white;
}

body .custom-button .ui-button-text,
html body .custom-button .ui-button-text,
html body div .custom-button .ui-button-text {
    color: black !important;
}

.custom-button:focus {
    outline: none;
    box-shadow: none;
}